@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: URL('NotoSans-Regular.ttf') format('truetype');
}

:root {
    --r-background-color: #fefcfb;
    --r-main-color: #0a1128;
    --r-main-font: 'Noto Sans';
    --r-heading-font: 'Noto Sans';
    --r-heading-color: #194893;    
    --r-link-color: #2661be;
    --r-link-color-dark: #{darken($linkColor , 15% )};
    --r-link-color-hover: #669bbc;
    --r-selection-background-color: #0a1128;
    --r-selection-color: #fff;
  }

.reveal p {
    text-align: left;
  }

.reveal ul {
    display: block;
  }

  .reveal ol {
    display: block;
  }
  
.reveal:after {
    position: fixed;
    display: block;
    left: 16px;
    bottom: 16px;
    z-index: 31;
    width: 6vw;   
    height: 6vw;
    min-width: 64px;
    min-height: 64px;
    background-image: url("NCC-NO-logo-transparent-bg.png");
    background-size: contain;
    background-position: 0% 100%;
    background-repeat: no-repeat;
  }

.nologo .reveal:after {
    display: none;
  }
  
.halfsplit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "left right";
  }
  
.thirdsplit {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "left right";
  }
  
.gridleft { 
  grid-area: left; 
  border-radius: 1vw; 
  padding: 1vw;  
  background: #f4f4f4; 
}

.gridright { 
  grid-area: right; 
  border-radius: 1vw; 
  padding: 1vw; 
  background: #d0dfef; 
}

.threes {
  display: grid;
  padding: 1vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.2em 0.2em;
  grid-auto-flow: row;
  grid-template-areas:
  "one two three";
  align-items: stretch;
}

.threes > * {
  background: #f4f4f4;
  border-radius: 0.1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threes:nth-child(2n+0) div:nth-child(2n+0) {
  background: #fff;
  border: solid 2px #f4f4f4;
}

.boxed {
  border-radius: 1vw;
  padding: 0.5em;
  background-color: #ffffff70;
  backdrop-filter: blur(8px);
}

@-webkit-keyframes animate-svg-stroke-1{0%{stroke-dashoffset:87.21400451660156px;stroke-dasharray:87.21400451660156px}100%{stroke-dashoffset:0;stroke-dasharray:87.21400451660156px}}@keyframes animate-svg-stroke-1{0%{stroke-dashoffset:87.21400451660156px;stroke-dasharray:87.21400451660156px}100%{stroke-dashoffset:0;stroke-dasharray:87.21400451660156px}}@-webkit-keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(186,12,47)}}@keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(186,12,47)}}.ncclogo-1{-webkit-animation:animate-svg-stroke-1 1s ease-in-out 0s both,animate-svg-fill-1 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 0.8s both;animation:animate-svg-stroke-1 1s ease-in-out 0s both,animate-svg-fill-1 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 0.8s both}@-webkit-keyframes animate-svg-stroke-2{0%{stroke-dashoffset:465.09747314453125px;stroke-dasharray:465.09747314453125px}100%{stroke-dashoffset:0;stroke-dasharray:465.09747314453125px}}@keyframes animate-svg-stroke-2{0%{stroke-dashoffset:465.09747314453125px;stroke-dasharray:465.09747314453125px}100%{stroke-dashoffset:0;stroke-dasharray:465.09747314453125px}}.ncclogo-2{-webkit-animation:animate-svg-stroke-2 1s ease-in-out 0.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 0.9s both;animation:animate-svg-stroke-2 1s ease-in-out 0.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 0.9s both}@-webkit-keyframes animate-svg-stroke-3{0%{stroke-dashoffset:92.61482238769531px;stroke-dasharray:92.61482238769531px}100%{stroke-dashoffset:0;stroke-dasharray:92.61482238769531px}}@keyframes animate-svg-stroke-3{0%{stroke-dashoffset:92.61482238769531px;stroke-dasharray:92.61482238769531px}100%{stroke-dashoffset:0;stroke-dasharray:92.61482238769531px}}@-webkit-keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(255,255,255)}}@keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(255,255,255)}}.ncclogo-3{-webkit-animation:animate-svg-stroke-3 1s ease-in-out 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 1s both;animation:animate-svg-stroke-3 1s ease-in-out 0.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 1s both}@-webkit-keyframes animate-svg-stroke-4{0%{stroke-dashoffset:87.25759887695312px;stroke-dasharray:87.25759887695312px}100%{stroke-dashoffset:0;stroke-dasharray:87.25759887695312px}}@keyframes animate-svg-stroke-4{0%{stroke-dashoffset:87.25759887695312px;stroke-dasharray:87.25759887695312px}100%{stroke-dashoffset:0;stroke-dasharray:87.25759887695312px}}@-webkit-keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(0,32,91)}}@keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(0,32,91)}}.ncclogo-4{-webkit-animation:animate-svg-stroke-4 1s ease-in-out 0.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 1.1s both;animation:animate-svg-stroke-4 1s ease-in-out 0.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.68,-0.55,0.265,1.55) 1.1s both}
